<h2 style="text-align: center;">Items:</h2>
<div class="card card-body">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Price</th>
        <th scope="col">Delete item</th>
      </tr>
    </thead>
    <tbody >
      <tr *ngFor="let item of products;">
        <th scope="row">{{ item.id }}</th>
        <td>{{item.name}}</td>
        <td>{{item.description}}</td>
        <td>${{item.price}}</td>
        <td ><button class="btn btn-outline-primary" (click)="deleteItem(item.id);">Delete item</button></td>
      </tr>
    </tbody>
  </table>

  <button routerLink="/admin/items/add" class="btn btn-outline-primary">Add item</button>
</div>